* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
}

body {
    background-image: url('https://images.pexels.com/photos/6843670/pexels-photo-6843670.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

header {
    background-color: #D8D8D8;
    opacity: 0.7;
    color: black;
    padding: 1%;
    text-align: center;
    font-family: "Cairo", sans-serif;
}

.formulaire {
    background-color: white;
    width: 45vh; 
    margin: 2rem auto;
    padding: 1rem;
    opacity: 0.9;
    z-index: 2;
    border: solid black 1.5px;
    
}

.text input, .text select {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
    color: black;
    font-family: 'Kufam', sans-serif;
  
}

.case{
    width: 100%;
    border: solid black 1px;
    margin-bottom: 2rem;            
    margin-top: 1rem; 
    padding: 0.5rem;
    font-size: 1rem;
    color: black;
    font-family: 'Kufam', sans-serif;
    cursor: pointer;
    font-weight: bold; 
}

.prix{
    width: 100%;
    border: solid black 1px;
    margin-bottom: 2rem;            
    margin-top: -2rem; 
    padding: 0.5rem;
    font-size: 1.1rem;
    color: black;
    font-family: "Cairo", sans-serif;
    font-weight: bold;  
   display: none;
}

.ligne-prix {
    display: flex;
    justify-content: space-between;
}

.text button {
    width: 100%;
    padding: 0.8rem;
    background-color: #D8D8D8;
    color: black;
    cursor: pointer;
    font-size: 2rem;
    opacity: 0.8;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-family: "Cairo", sans-serif;
    font-weight: bold; 
}


.titre-Produit {
    background-color: #ffffff;
    border: solid black 1.5px;
    width: 45vh;
    height: 68vh;
    margin: 2rem auto;
    font-size: 1rem;
    text-align: left;
    opacity: 0.9;
    position: relative;  
    padding: 1rem;
    font-family: "Chakra Petch", sans-serif;
    overflow: hidden;
}

.photo img {
    width: 100%;
    height: 100%;
}

.prev, .next {
    position: absolute;
    top: 42%;
    z-index: 2;
    background-color: white; 
    color: #D8D8D8;
    font-size: 3rem;
    cursor: pointer;
    padding: 0rem;
    border: none;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}
.description{
    background-color: white;
    width: 45vh; 
    margin: 2rem auto;
    padding: 1rem;
    opacity: 0.9;
    z-index: 2;
    border: solid black 1.5px;
}
}